langchain-openai
langchain_community
python-dotenv
langchain 
langchain_core
streamlit
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence_transformers
faiss-cpu
langchain_chroma
duckdb
pandas
langchain-groq
duckduckgo-search
mysql-connector-python==8.4.0
youtube_transcript_api
unstructured
pytube
numexpr
ipykernel
validators==0.28.1            ### helps to validate the url
langchain_huggingface
huggingface_hub
